{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block corecss %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/content.css' %}">
  <link rel="stylesheet" href="{% static 'educational_pages/css/posts.css' %}">
  <link rel="stylesheet" href="{% static 'links/css/links.css' %}">
{% endblock %}

{% block extra_title %} - Pretraživanje{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-11 col-lg-10 col-xl-7 mt-3">
      <h2 class="page-title mt-3">Rezultati pretraživanja{% if query %} za pojam <em>"{{query}}"</em>{% endif %}</h2>
    </div>
  </div>
  <div class="overlay"></div>
  {% if not query %}
    <div class="post row justify-content-center mt-4 mb-4">
        <div class="col-11 col-lg-10 col-xl-7 mx-auto mt-4">
            <h4>Niste unijeli pojam za pretragu. Molimo pokušajte ponovno.</h4>
        </div>
    </div>
  {% elif not posts and not links %}
    <div class="post row justify-content-center mt-4 mb-4">
        <div class="col-11 col-lg-10 col-xl-7 mx-auto mt-4">
            <h4>Nije pronađen nijedan rezultat.</em></h4>
        </div>
    </div>
  {% else %}
    {% if posts %}
        {% for post in posts %}
        <div class="post row justify-content-center mt-4 mb-4">
            <div class="col-11 col-lg-10 col-xl-7 mx-auto mt-4">
              <h5 class="post-title mb-4">
                <a class="link-wrapper" href="{% url 'view_post' post.slug %}">
                  {{ post.title }}
                </a>
              </h5>
              {% if post.image %}
                <div class="post-image text-center mt-4 mb-4">
                  <img src="{{ post.image.url }}" class="img-fluid">
                </div>
              {% endif %}
              <div class="post-content mt-3">
                <em>{{ post.content | safe | truncatewords_html:30 }}</em>
              </div>
            </div>
        </div>
        <hr class="link-hr">
        {% endfor %}
    {% endif %}
    {% if links %}
        {% for link in links %}
            <div class="links row justify-content-center mt-4 mb-3">
                <div class="link-wrapper col-11 col-lg-10 col-xl-7 mt-3">
                {% if link.title %}
                    <h5><a class="link d-inline" href="{{ link.url }}" target="_blank">{{ link.title }}<span class="external-link-tag fst-italic small">(vanjska poveznica)</span></a></h5>
                {% else %}
                    <h5><a class="link d-inline" href="{{ link.url }}" target="_blank">{{ link.url }}<span class="external-link-tag fst-italic small">(vanjska poveznica)</span></a></h5>
                {% endif %}
                </div>
                <div class="col-11 col-lg-10 col-xl-7 mt-3 mb-3">
                <p class="link-summary fst-italic">
                    {{ link.summary }}
                </p>
                </div>
            </div>
            <hr class="link-hr">
        {% endfor %}
    {% endif %}
  {% endif %}
  <div class="spacer"></div>
  <div class="btt-button">
    <a class="btn btn-outline-secondary" href="#" role="button">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script>
      document.querySelector(".btt-button").addEventListener("click", function(e){
        window.scrollTo(0,0);
      })
  </script>
{% endblock %}
