html {
  height: 100%;
}

body {
  background: url(/media/mobile.jpg) no-repeat top center scroll;
  background-size: cover;
  color: #555;
  font-family: "Quicksand", sans-serif !important;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

nav hr:not([size]) {
  width: 40%;
  height: 3px;
  margin: 0 auto;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand:hover {
  opacity: 0.7;
}

.navbar-brand img {
  height: 2.5rem;
  width: 3.5rem;
}

.navbar-light .navbar-toggler {
  border: none;
  border-radius: 50%;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background-image: url('/media/chevron-bar-contract.svg');
}

.navbar-light .navbar-toggler[aria-expanded=false] .navbar-toggler-icon {
  background-image: url('/media/chevron-bar-expand.svg');
}

.navbar-toggler:hover {
  background-color: #e9ebec;
}


a.nav-link.small.driving-link {
  padding-right: .2rem;
}

.driving-link.hidden {
  display: none;
}

/* Custom navbar dropdown */

.container-fluid.navbar-dropdown {
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 440px) {
  body {
    background: url(/media/tablet.jpg) no-repeat top center scroll;
    background-size: cover;
  }

  .container-fluid.navbar-dropdown {
    min-width: 28rem;
    max-width: 28rem;
  }
}

@media (min-width: 768px) {
  body {
    background: url(/media/desktop_narrow.jpg) no-repeat top center scroll;
    background-size: cover;
  }

  nav hr:not([size]) {
    width: 15%;
    height: 3px;
    margin-right: 0;
    margin-left: auto;
  }

  .form-control[type="search"] {
    width: 68%;
  }
}

@media (min-width: 1200px) {
  body {
    background: url(/media/desktop_wide.jpg) no-repeat top center scroll;
    background-size: cover;
  }

  /* .form-control[type="search"] {
    width: 75%;
  } */
}

@media (min-width: 1400px) {
  body {
    background: url(/media/desktop_wide.jpg) no-repeat top center scroll;
    background-size: cover;
  }

  /* .form-control[type="search"] {
    width: 75%;
  } */
}

/* fix for background image on Safari/iOS - https://stackoverflow.com/a/52266360 */

@supports (-webkit-touch-callout: inherit) {
  body {
    background-attachment: scroll;
  }
}
