body {
  background: url(/media/bg_mobile.jpg) no-repeat top center fixed;
  background-size: cover;
  color: #555;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.post-image img{
  max-height: 200px;
  max-width: 200px;
}

.btt-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 440px) {
  body {
    background: url(/media/bg_tablet.jpg) no-repeat top center fixed;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  body {
    background: url(/media/bg_desktop_narrow.jpg) no-repeat top center fixed;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  body {
    background: url(/media/bg_desktop_wide.jpg) no-repeat top center fixed;
    background-size: cover;
  }
}

/* fix for background image on Safari/iOS - https://stackoverflow.com/a/52266360 */

@supports (-webkit-touch-callout: inherit) {
  body {
    background-attachment: scroll;
    background-repeat: repeat-y;
  }
}
