body {
  background: url(/media/bg_mobile.jpg) no-repeat top center fixed;
  background-size: cover;
  color: #555;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #fff;
  opacity: 0.5;
  z-index: -1;
}

.link-wrapper {
  color: initial;
  text-decoration: none;
}

.link-wrapper:hover {
  color: rgb(144, 29, 211) !important;
  text-decoration: none;
}

.btt-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.spacer {
  height: 3rem;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 440px) {
  body {
    background: url(/media/bg_tablet.jpg) no-repeat top center fixed;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  body {
    background: url(/media/bg_desktop_narrow.jpg) no-repeat top center fixed;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  body {
    background: url(/media/bg_desktop_wide.jpg) no-repeat top center fixed;
    background-size: cover;
  }
}

/* fix for background image on Safari/iOS - https://stackoverflow.com/a/52266360 */

@supports (-webkit-touch-callout: inherit) {
  body {
    background-attachment: scroll;
    background-repeat: repeat-y;
  }
}
