h5 {
  font-weight: 900;
  margin-bottom: 2rem;
}

.member-image .img-fluid {
  max-width: 50%;
  float: left;
  height: auto;
  margin: .4rem .9rem .4rem 0;
}

.img-fluid.no-image {
  max-width: 25%; 
}

.member-hr {
  background-color: #555;
  margin: 0 auto;
  width: 33%;
}