{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block corecss %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/content.css' %}">
  <link rel="stylesheet" href="{% static 'educational_pages/css/posts.css' %}">
{% endblock %}

{% block extra_title %} - Psihoedukativni kutak{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-11 col-lg-10 col-xl-7 mt-3">
      <h2 class="page-title mt-3">Psihoedukativni kutak</h2>
    </div>
  </div>
  <div class="overlay"></div>
  {% for post in posts %}
    <div class="post row justify-content-center mt-4 mb-4">
        <div class="col-11 col-lg-10 col-xl-7 mx-auto mt-4">
          <h5 class="post-title mb-2">
            <a class="link-wrapper" href="{% url 'view_post' post.slug %}">
              {{ post.title }}
            </a>
          </h5>
          {% if post.image %}
            <div class="post-image text-center mt-4 mb-4">
              <img src="{{ post.image.url }}" class="img-fluid">
            </div>
          {% endif %}
          <div class="post-details mt-2 mb-5">
            {% if post.author %}
              <p class="post-author fw-bold mb-1">Autor: {{ post.author }}</p>
            {% endif %}
            <small>Objavljeno: {{ post.date_published }}</small>
          </div>
          <div class="post-content mt-3">
            <em>{{ post.content | safe | truncatewords_html:80 }}</em>
          </div>
        </div>
    </div>
    <hr class="post-hr mt-5">
  {% endfor %}
  <div class="spacer"></div>
  <div class="btt-button">
    <a class="btn btn-outline-secondary" href="#" role="button">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script>
      document.querySelector(".btt-button").addEventListener("click", function(e){
        window.scrollTo(0,0);
      })
  </script>
{% endblock %}
