{% extends 'base.html' %}
{% load static %}

{% block corecss %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/content.css' %}">
{% endblock %}

{% block extra_title %} - Psihoedukativni kutak{% endblock %}

{% block content %}
    <div class="container-fluid">
      <h2 class="page-title mt-3">Psihoedukativni kutak</h2>
      <div class="row justify-content-center mt-5">
        {% for post in posts %}
          <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-3 text-center">
            <h4>{{ post.title }}</h4>
            <p>{{ post.author }} @ {{ post.published }}</p>
            <div class="post-image">
              {% if post.image %}
                <img src="{{ post.image.url }}" class="img-fluid">
              {% else %}
                <!-- image by Ranjithsiji, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons-->
                <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid">
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

