.post-hr {
  background-color: #555;
  margin: 0 auto;
  width: 50%;
}

/* hide in-text images on all-posts view */
.post p img {
  display: none;
}

img.note-float-left, 
img.note-float-right,
.post-image img,
.in-post-image img {
  max-height: 40vw;
  max-width: 40vw;
}

img.note-float-left,
img.note-float-right {
  margin-top: .4rem;
}

img.note-float-left {
  margin-right: 1rem;
}

img.note-float-right {
  margin-left: 1rem;
}

.single-post h6 {
  margin-bottom: 1rem;
}
