.links a, 
.student-links a {
  color: inherit;
  overflow-wrap: break-word;
  text-decoration: none;
}

.link-hr {
  background-color: #555;
  margin: 0 auto;
  width: 33%;
}

.external-link-tag {
  color: #c7c5c5;
  margin-left: 2rem;
}
